<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
     <nav>
        <ul>
            <li><a href="{{ url_for('index') }}" id="home_page_button">Home</a></li>
            <li><a href="{{ url_for('search_page') }}" id="search_page_button">Search</a></li>
            <li><a href="{{ url_for('favorites') }}" id="favorites_page_button">Favorites</a></li>
            <li><a href="{{ url_for('feed') }}" id="feed_page_button">Feed</a></li>
        </ul>
    </nav>
    {% block body %}{% endblock %}
</body>
</html>