{% extends 'base.html' %}

{% block head %}
<style>
  #favorites_page_button{
    background-color: white;
    border: 1px solid black;
    color: black;
  }
</style>
{% endblock %}

{% block body %}
<ul>
  <div id="big_container">
  {% for article in articles %}
    <a href="{{article['url']}}"> 
      <div class="news_container">
        <img class="news_image" src="{{ article.image_url }}" alt="">
        <br>
        <strong>{{ article['title'] }} </strong>
        <button class="fav_button {% if is_favorited(article['url']) %}active{% endif %}"
                data-url="{{ article['url'] }}"
                data-title="{{ article['title'] }}"
                data-image="{{ article['urlToImage'] }}">
            {% if is_favorited(article['url']) %}
                In your favorites
            {% else %}
                ★ Add to favorites
            {% endif %}
        </button>
      </div>
    </a>
  {% endfor %}
  </div>
</ul>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}