{% extends 'base.html' %}

{% block head %}
<style>
  #home_page_button{
    background-color: white;
    border: 1px solid black;
    color: black;
  }
</style>
{% endblock %}

{% block body %}
<ul>
  <div id="big_container">
  {% for article in articles %}
    <a href="{{article['url']}}"> 
      <div class="news_container">
        <img class="news_image" src="{{article['urlToImage']}}" alt="">
        <br>
        <strong>{{ article['title'] }} </strong>
        <button class="fav_button" data-url="{{ article['url'] }}" data-image="{{article['urlToImage']}}" data-title="{{ article['title'] }}">
        ★ Add to favorites
        </button>
      </div>
    </a>
  {% endfor %}

    <!--Test
    <div class="news_container">
        <img class="news_image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Ciao_PX.jpg/1200px-Ciao_PX.jpg" alt="">
        <br>
        <strong>Ciao </strong>
    </div>
    -->

  </div>
</ul>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}