{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<ul>
  <form action="/" method="POST">
    <input type="text" name="search_terms" id="search_terms">
    <input type="submit" value="Search">
  </form>

  <div id="big_container">
  {% for article in articles %}
    <a href="{{article['url']}}"> 
      <div class="news_container">
        <img class="news_image" src="{{article['urlToImage']}}" alt="">
        <br>
        <strong>{{ article['title'] }} </strong>
        <button class="fav_button" data-url="{{ article['url'] }}">
        ★ Add to Favorites
        </button>
      </div>
    </a>
  {% endfor %}

    <!--Test
    <div class="news_container">
        <img class="news_image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Ciao_PX.jpg/1200px-Ciao_PX.jpg" alt="">
        <br>
        <strong>Ciao </strong>
    </div>
    -->

  </div>
</ul>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}